.article.article-main
  %h1
    %a{href: "/article/" + article.name}&= article.title
  = markdownEncode(article.markdown)
  
  #disqus_thread.body
  :script
    var disqus_shortname = 'blogmklog';
    var disqus_identifier = 'http://blog.mklog.fr/article/#{article.name}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();


  %a.dsq-brlink(href="http://disqus.com")
    blog comments powered by
    %span.logo-disqus
      Disqus
	
	
.article-sidebar
  .aside
    %h4 About the Author
    %img.headshot{src: gravitar(author.email, 80) }
    %dl
      %dt Name
      %dd&= author.name
    :if author.github
      %dl
        %dt Github
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Location
        %dd&= author.location
    :if author.homepage
      %dl
        %dt Links
        %dd
          %a{href: author.homepage} Homepage

  .aside
    %h4
      About this Article
    :if article.date
      %dl{title: article.date}
        %dt
          Date Released
        %dd
          &= formatDate(article.date, "%l %F %j, %Y")
    :if article.lastUpdated
      %dl{title: article.lastUpdated}
        %dt
          Last Updated
        %dd
          &= formatDate(article.lastUpdated, "%l %F %j, %Y")

    :if article.categories
      %dl
        %dt Tags
          %dd
            :each category in article.categories
              %a{href: "/category/" + category}&=unescape(category) 
              
    :if article.node
      %dl
        %dt
          Node Version
        %dd
          %a{ href: "http://github.com/ry/node/tree/" + article.node }
            node #{article.node}

    %dl
      %dt
        Revisions
      %dd
        %ul
          :each version, stat in article.log
            %li{title: stat.message}
              %a{ href: "/#{version}/article/#{article.name}"}
                &= new Date(stat.date).toUTCString()

  :if article.related && article.related.length > 0
    .bubble
      %h4
        Other Articles by this Author
      %ul
        :each related in article.related
          %li
            %a{href: "/article/" + related.name}&=related.title
            :if related.node
              %span.versiontag&= related.node

  .bubble= markdownEncode(description)