.article-main
  :each article in articles.slice(0,15)
    %article.article.clearfix
      %h2.article-title
        %a{href: "/article/" + article.name, rel: 'bookmark', title: 'Permanent link to ' + article.title}&= article.title
      .author
        .date{title: article.date}&= formatDate(article.date, "%d/%m/%Y")
      %p
        = intro(article.markdown)
      %a{href: "/article/" + article.name} Read more...

.article-sidebar
  .aside
    = markdownEncode(description)
  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/article/" + article.name}&=article.title
          :if article.node
            %span.versiontag&= article.node
          
          
  .aside
    %h4 Categories
    %div
      %ul
        :each category in categories
          %li
            %a{href: "/category/" + category}&= unescape(category)
      